# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.elf

# Directories
.idea
cmake-build-*
build/
bin/
obj/
debug/
release/

# OS and Editor files
.DS_Store # macOS
*.layout  # Code::Blocks
*.depend  # Code::Blocks
*.user    # QtCreator
*.VC.db   # Visual Studio
*.VC.opendb # Visual Studio
